<div class="col-2">
    <ul class="list-group">
        <li class="list-group-item text-start btn btn-outline-secondary btn-lg btn-block"  ><i class="fa-solid fa-house"></i> HomePage</li>
        <a class="list-group-item text-start btn btn-outline-secondary btn-lg btn-block" asp-area="" asp-controller="Home" asp-action="CreateTask" ><i class="fa-solid fa-calendar-plus"></i> Create Task</a>
        <li class="list-group-item text-start btn btn-outline-secondary btn-lg btn-block" ><i class="fa-solid fa-calendar-days"></i> All Tasks</li>
        <li class="list-group-item text-start btn btn-outline-secondary btn-lg btn-block" ><i class="fa-solid fa-calendar-check"></i> Completed Tasks</li>
        <li class="list-group-item text-start btn btn-outline-secondary btn-lg btn-block" ><i class="fa-solid fa-spinner"></i> Working on It</li>
       
    </ul>

</div>